<tr>
  <td><%= role.name %></td>
  <td><%= role.number_of_lines %></td>
  <td><%= display_longest_speech(role)%></td>
  <td><%= role.number_of_scenes %></td>
  <td><%= format_percentage(role.percentage_of_scenes) %></td>
</tr>
